<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.jinyifei.hopes">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BIND_PRINT_SERVICE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activitys.LoginActivity">
        </activity>
        <activity android:name=".activitys.MainActivity" />
        <activity android:name=".activitys.ActivityActivity">
            <intent-filter>
                <action android:name="myActivityCeshi" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.ContentProviderActivity">
            <intent-filter>
                <action android:name="myProvider" />

                <category android:name="aaa" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.ReturnDataActivity" />
        <activity
            android:name=".activitys.DialogActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".activitys.WriteFileActvity" />
        <activity android:name=".activitys.BaseActivity" />
        <activity android:name=".activitys.ListViewActivity" />
        <activity android:name=".activitys.MenuActivity" />
        <activity android:name=".activitys.BaseUi" />
        <activity
            android:name=".activitys.kongjian.HopesSpinner"
            android:label="功能测试" />
        <activity android:name=".activitys.kongjian.HopesRadioGroup" />
        <activity android:name=".activitys.kongjian.HopesAnalogClock" />
        <activity android:name=".activitys.kongjian.HopesAutoCompleteTextView" />
        <activity android:name=".activitys.kongjian.HopesCheckBox" />
        <activity android:name=".activitys.kongjian.HopesChronometer" />
        <activity android:name=".activitys.kongjian.HopesDatePicker" />
        <activity android:name=".activitys.kongjian.HopesDigitalClock" />
        <activity android:name=".activitys.kongjian.HopesEditText" />
        <activity android:name=".activitys.kongjian.HopesExpandable" />
        <activity android:name=".activitys.kongjian.HopesGallery" />
        <activity android:name=".activitys.kongjian.HopesGridView" />
        <activity android:name=".activitys.kongjian.HopesImageButton" />
        <activity android:name=".activitys.kongjian.HopesImageSwitcher" />
        <activity android:name=".activitys.kongjian.HopesImageView" />
        <activity android:name=".activitys.kongjian.HopesInclude" />
        <activity android:name=".activitys.kongjian.HopesMultiAutoCompleteTextView" />
        <activity android:name=".activitys.kongjian.HopesProgressBar" />
        <activity android:name=".activitys.kongjian.HopesRatingBar" />
        <activity android:name=".activitys.kongjian.HopesScrollView" />
        <activity android:name=".activitys.kongjian.HopesSeekBar" />
        <activity android:name=".activitys.kongjian.HopesTab" />
        <activity android:name=".activitys.kongjian.HopesTextSwitcher" />
        <activity android:name=".activitys.kongjian.HopesTimePicker" />
        <activity android:name=".activitys.kongjian.HopesToggleButton" />
        <activity android:name=".activitys.kongjian.HopesWebView" />
        <activity android:name=".activitys.kongjian.HopesZoomControls" />
        <activity android:name=".activitys.kongjian.HopesTextViewbutton" />
        <activity android:name=".activitys.kongjian.HopesVideoView" />
        <activity android:name=".activitys.BroadCastActivity" />


        <receiver android:name=".receiver.MyBroadcastReceiver">
            <intent-filter android:priority="100">
                <action android:name="com.example.broadcasttest.MY_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.ForceOfflineReceiver">
            <intent-filter>
                <action android:name="com.example.broadcastbestpractice.FORCE_OFFLINE" />
            </intent-filter>
        </receiver>

        <activity android:name=".activitys.ServiceActivity" />

        <service android:name=".service.MyIntentService" />
        <service android:name=".service.MyService" />

        <activity android:name=".activitys.HandlerActivity" />
        <activity android:name=".activitys.DataActivity" />
        <activity android:name=".activitys.SharePreferencesActivity" />
        <activity android:name=".activitys.SqliteActivity" />
        <activity android:name=".activitys.FileActivity" />
        <activity android:name=".activitys.ACacheActivity" />
        <activity android:name=".activitys.cache.SaveBitmapActivity" />
        <activity android:name=".activitys.cache.SaveDrawableActivity" />
        <activity android:name=".activitys.cache.SaveJsonArrayActivity" />
        <activity android:name=".activitys.cache.SaveJsonObjectActivity" />
        <activity android:name=".activitys.cache.SaveMediaActivity" />
        <activity android:name=".activitys.cache.SaveObjectActivity" />
        <activity android:name=".activitys.cache.SaveStringActivity" />
        <activity android:name=".activitys.db.MainDbActivity" />
        <activity android:name=".activitys.db.AddClassActivity" />
        <activity android:name=".activitys.db.AddStuActivity" />
        <activity android:name=".activitys.db.QueryActivity" />
        <activity android:name=".activitys.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>